AISCERN_API_URL=https://aiscern.com/api/v1/
CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxx
SUPABASE_URL=https://xxxxxxxx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.xxxxx
GEMINI_API_KEY=MY_GEMINI_API_KEY
